/*.character-builder:nth-child(even) {
    background-color: var(--even-bg-color);
    color: var(--even-fg-color);
    border-color: var(--even-border-color);
}

.character-builder:nth-child(even) input {
    background-color: var(--even-bg-color);
    color: var(--even-fg-color);
}

.character-builder:nth-child(even) section:not(:last-child) {
    padding-bottom: 20px;
    border-bottom-color: var(--even-bg-color);
}

.character-builder:nth-child(odd) {
    background-color: var(--odd-bg-color);
    color: var(--odd-fg-color);
    border-color: var(--odd-border-color);
}

.character-builder:nth-child(odd) input {
    background-color: var(--odd-bg-color);
    color: var(--odd-fg-color);
}

.character-builder:nth-child(odd) section:not(:last-child) {
    padding-bottom: 20px;
    border-bottom-color: var(--odd-bg-color);
}*/

.character-builder input {
    background-color: var(--card-color);
    color: var(--text-color);
}

.character-builder:nth-child(even) {
    border-color: var(--border-color-even);
}

.character-builder:nth-child(odd) {
    border-color: var(--border-color-odd);
}

.character-builder:nth-child(even) .header-footer {
    background-color: var(--border-color-even);
}

.character-builder:nth-child(odd) .header-footer {
    background-color: var(--border-color-odd);
}

.character-builder:nth-child(even) .header-footer input {
    background-color: var(--border-color-even);
    color: var(--text-color-border);
}

.character-builder:nth-child(odd) .header-footer input {
    background-color: var(--border-color-odd);
    color: var(--text-color-border);
}

.header-footer {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--text-color-border);
}

.character-builder-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.character-builder {
    background-color: var(--card-color);
    color: var(--text-color);
    margin: 20px;
    border: solid 5px;
    border-radius: 5px;
    max-width: 1100px;
}

.columns {
    display: flex;
    flex-wrap: wrap;
}

section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 90vw;
    width: 500px;
    margin: 5px 40px;
}

section.wide {
    align-items: center;
    width: 90%;
    max-width: 1000px;
    flex-shrink: 0;
}

@media screen and (min-width: 900px) {
    section.narrow {
        width: 30%;
    }
}

.stats-table {
    table-layout: fixed;
    width: 100%;
}

.stats-table th {
    width: 3rem;
}

.stats-table td {
    text-align: right;
    width: 3rem;
}

.stats-table input {
    text-align: right;
    width: 3rem;
}

input {
    border: none;
    border-bottom: dotted 1px;
    display: inline;
    font-family: inherit;
    font-size: inherit;
    width: auto;
}

.dropdown {
    margin-bottom: 20px;
    width: 100%;
}

.dropdown.with-label label {
    float: left;
    width: 30%;
}

.dropdown.with-label select {
    float: right;
    width: 60%;
}

.dropdown {
    margin-bottom: 5px;
}

h2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap: 10px;
}

h2 input {
    padding: 10px auto;
    text-align: center;
    font-weight: bold;
}

.buttons-wrapper {
    padding-bottom: 50px;
}