@import "./variables.css";

.App-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.buttons-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.all-characters {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.character-builder:nth-child(even) {
  background-color: var(--even-bg-color);
  color: var(--even-fg-color);
  border-color: var(--even-border-color);
}

.character-builder:nth-child(even) input {
  background-color: var(--even-fg-color);
  color: var(--even-bg-color);
}

.character-builder:nth-child(even) section:not(:last-child) {
  padding-bottom: 20px;
  border-bottom-color: var(--even-fg-color);
}

.character-builder:nth-child(odd) {
  background-color: var(--odd-bg-color);
  color: var(--odd-fg-color);
  border-color: var(--odd-border-color);
}

.character-builder:nth-child(odd) input {
  background-color: var(--odd-fg-color);
  color: var(--odd-bg-color);
}

.character-builder:nth-child(even) section:not(:last-child) {
  padding-bottom: 20px;
  border-bottom-color: var(--even-fg-color);
}

.character-builder {
  margin: 20px;
  padding: 20px;
  border: solid 5px;
  border-radius: 5px;
}

.character-builder section:not(:last-child) {
  padding-bottom: 20px;
  border-bottom: 1px dashed;
}