/* palette: https://coolors.co/0b0600-502410-e18d66-062105-75ea71 */

@font-face {
    font-family: Inquisitor;
    src: url('../fonts/Inquisitor/Inquisitor.otf');
}

@font-face {
    font-family: Inquisitor Bold;
    src: url('../fonts/Inquisitor/Inquisitor Bold.otf');
}

:root {
    --border-color: #1d1d1d;
    --card-color: #121212;
    --section-shadow-color: #0d0d0d;
    --text-color: #e1e1e1;
    --primary: #ff5e5e;
    --text-color-header: #7e7e7e;
}
